@page
@model CsPharma_V4.Pages.GestionUsuario.DeleteModel

@{
    ViewData["Title"] = "Borrado";
}

<div class="card m-auto" style="width: 60%;">
    <div class="card-header p-4" style="text-align:center;">
        <h3>¿Está seguro de que desea eliminar este pedido?</h3>
    </div>

    <div class="card-body m-auto p-4">
        <table class="tablaDelete">
            <tr>
                <th class="mr-2">ID: </th>

                <td>@Html.DisplayFor(model => model.User.Id)</td>
            </tr>
            <tr style="background-color: #98f59a;">
                <th>Correo electrónico:</th>
                <td>@Html.DisplayFor(model => model.User.Email)</td>
            </tr>
            <tr >
                <th>Nombre:</th>
                <td>@Html.DisplayFor(model => model.User.NombreUsuario)</td>
            </tr>
            <tr>
                <th>Apellidos: </th>
                <td>@Html.DisplayFor(model => model.User.ApellidosUsuario)</td>
            </tr>
        </table>
    </div>
</div>
<br />
<form class="row justify-content-center" method="post" asp-validation-summary="All" style="width: 30%; margin-left: 35%;">
    <input type="submit" value="Confirmar eliminación" class="btn btn-danger" id="btn-confirm" />
</form>

<br />
<br />

<a asp-page="./Index">← Volver a la lista de pedidos</a>





<script>
    // Selecciona el botón de envío del formulario y agrega un manejador de eventos para el clic
    const btnConfirm = document.getElementById('btn-confirm');
    btnConfirm.addEventListener('click', (event) => {
        // Obtiene el código del pedido que se va a eliminar
        const email = "@Model.User.Email";

        // Obtiene el valor ingresado en el campo de confirmación
        const confirmValue = prompt('Por favor, ingrese el "Correo electrónico" destacado en verde para confirmar la eliminación:');

        // Verifica si el valor ingresado coincide con el código del pedido
        if (confirmValue !== email) {
            // Si no coincide, muestra un mensaje de error y detiene la eliminación del registro
            alert('El código de confirmación es incorrecto. Por favor, inténtelo de nuevo.');
            event.preventDefault();
        }
    });
</script>


